<h2><%= @course.name%>	</h2>

<p><%= @course.id%></p>
<p></p>
<p><%= @course.start_date%></p>
<p><%= @course.description%></p>

<p><%= link_to 'edit', edit_course_path(@course) %></p>

<%= debug params %>